
a {
	text-decoration: none;
	color: inherit;
	&:hover {
		color: inherit;
	}
}

.card {
	border-radius:12px;
	overflow: hidden;
	box-shadow: 0 2px 4px 0 rgb(14 30 37 / 12%), 0 2px 16px 0 rgb(14 30 37 / 32%);
}

.center-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

i {
	font-style: normal;
}

button {
	max-width: 20rem !important;
}

::placeholder {
	color: rgb(184, 184, 184);
}

@media( min-width: 992px ) {
	.p-sidebar-mask.p-component-overlay {
		display: none;
	}
}
