:root {
	--bg-color: #f3f3f3;
	--main-white: #ffffff; 
	--card-bg: #f6f6f6;
	--card-shadow: #e8e8e8;
	--main-dark: #2a2a2a;
	--input-border-color: #bbbbbb;
	--btn-border: 1px solid var(--main-dark);
	--btn-border-radius:8px;
	--input-border: 1px solid var(--card-bg);
	--font-main: 'Inter', sans-serif; 
	--stat-chart-bg: #3370EC;
	--text-light-color: #8C8C8C;
	--header-light-color: #D9D9D9;
}

@import "./mixins";

body {
	font-family: var(--font-main);
	color: var(--main-dark);
}
a {
	text-decoration: none;
	color: inherit;
	&:hover {
		color: inherit;
	}
}
h1, h2, h3, h4, h5, h6 {
}
.header-main {
	font-size: rem(20);
	font-weight: 600;
}
.header-light {
	color: var(--header-light-color);
	text-align: center;
	font-size: rem(52);
	font-weight: 700;
}
.text-data {
	font-size: rem(16);
	font-weight: 500;
	line-height: 130%;
}
.text-description {
	font-size: rem(18);
	font-weight: 400;
	line-height: 150%;
}
.text-value {
	font-size: rem(24);
	font-weight: 600;
}
.text-gt-bold {
	font-size: rem(24);
	font-weight: 700;
}
.text-sm-bold {
	font-size: rem(12);
	font-weight: 700;
	line-height: 130%;
}
.text-bg-bold {
	font-size: rem(32);
	font-weight: 600;
}
.text-link {
	font-size: rem(15);
	font-weight: 500;
	line-height: 150%;
}
.text-message {
	font-size: rem(15);
	text-align: center;
}
.text-undertitle {
	font-size: rem(15);
	font-weight: 400;
	line-height: 150%;
}
.text-sm-notice {
	font-size: rem(12);
	font-weight: 400;
	line-height: 150%;
}
.full-screen {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1REM;
}
.p-component {
	font-family: unset;
}
.btn-border-radius {
	border-radius: var(--btn-border-radius);
}
.btn-black, .btn-border {
	width: 100%;
	max-width: 25rem;
	border-radius: var(--btn-border-radius);
	padding: 0.7rem 1rem;
}
.btn-black, .btn-black:enabled:hover, .btn-black:disabled {
	background: var(--main-dark);
	border: var(--btn-border);
}

.btn-border, .btn-border:enabled:hover, .btn-border:disabled {
	color: var(--main-dark);
	background: var(--main-white);
	border: 2px solid var(--main-dark);
	transition: all .25s;
}
.btn-border:enabled:hover {
	background: var(--card-bg);
}
.p-inputtext.p-component {
	background-color: var(--card-bg);
	border-radius: var(--btn-border-radius);
	border: var(--input-border);
	box-shadow: var(--card-shadow) 0px 3px 3px;
}
.p-inputgroup input:first-child, .p-inputgroup input:last-child, .p-inputgroup .p-float-label:first-child input,
.p-inputgroup > .p-inputwrapper:last-child > .p-inputtext, .p-inputgroup > .p-inputwrapper:first-child > .p-inputtext {
	border-radius: var(--btn-border-radius);
	border: var(--input-border);
	box-shadow: var(--card-shadow) 0px 3px 3px;
}
.p-inputtext:-webkit-autofill, .p-inputtext:-webkit-autofill:active, .p-inputtext:-webkit-autofill:focus, .p-inputtext:-webkit-autofill:hover{
	-webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s;
    //-webkit-text-fill-color: rgba(49,49,49,.619608);
}
.p-inputtext:enabled:focus, .p-inputtext:enabled:hover {
	box-shadow: 0 0 0 0.2rem var(--card-shadow);
    border-color: var(--input-border-color);
}
.p-password .p-icon {
	padding: 13px;
	width: 55px;
	height: 45px;
	top: 15%;
}
.p-dialog {
	.p-dialog-header .p-dialog-header-icon {
		min-width: 2rem;
		max-width: 2rem;
	}
	.p-dialog-header .p-dialog-header-icon:hover, .p-dialog-header .p-dialog-header-icon:focus {
		border: var(--input-border);
		box-shadow: 0 0 0 0.2rem var(--card-shadow);
	}
}
.p-sidebar-close.p-sidebar-icon {
	min-width: 2rem;
	max-width: 2rem;
}
.p-sidebar-icon:hover, .p-sidebar-icon:focus, 
.p-dropdown.p-component:hover, .p-dropdown.p-component:focus,
.p-dropdown:not(.p-disabled).p-focus,
.p-button:focus {
	border: var(--input-border);
	box-shadow: 0 0 0 0.2rem var(--card-shadow);
}
.card-header {
	background: var(--main-white);
	h1, h2, h3, h4 ,h5, h6 {
		margin-bottom: 0;
		font-size: rem(24);
		font-weight: 700;
	}
}
.p-dropdown.p-component {
	border-radius: var(--btn-border-radius);
	background-color: var(--card-bg);
	box-shadow: var(--card-shadow) 0px 3px 3px;
	border: var(--input-border);
}
.card, .main-bar {
	border-radius:12px;
	overflow: hidden;
	//box-shadow: 0 2px 4px 0 rgb(14 30 37 / 12%), 0 2px 16px 0 rgb(14 30 37 / 32%);
	//background-color: var(--card-bg);
	box-shadow: var(--card-shadow) 1.95px 1.95px 0px;
	border: 1px solid var(--card-shadow);
}
.app-card {
	background-color: var(--card-bg);
	border: 0;
	border-radius: var(--btn-border-radius);
	box-shadow: var(--card-shadow) 1.95px 1.95px 0px;
}
.back-button {
	position: absolute;
	top: 1.5rem;
	left: 1.5rem;
}
.center-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

i {
	font-style: normal;
}

button {
	max-width: 20rem !important;
	//min-width: 15rem;
}

::placeholder {
	color: rgb(184, 184, 184);
}

@media( min-width: 992px ) {
	.p-sidebar-mask.p-component-overlay {
		display: none;
	}
}


/* Webkit-based browsers (Chrome, Safari) */
/* You can adjust the colors and dimensions as per your design */
/* You can add more vendor prefixes if needed for other browsers */
::-webkit-scrollbar {
	width: 8px;
  }
  
  ::-webkit-scrollbar-track {
	background-color: #ffffff;
	border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
	background-color: #888;
	border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
	background-color: #555;
  }
  
  /* Firefox and Edge */
  /* You can adjust the colors and dimensions as per your design */
  /* The 'scrollbar-width' property is not supported in all browsers yet */
  /* You can add more vendor prefixes if needed for other browsers */
  /* For now, this property is mainly supported in Firefox and Edge */
  body {
	scrollbar-width: thin; /* 'thin' or 'auto' */
	scrollbar-color: #888 #f1f1f1; /* thumb color and track color */
	scrollbar-arrow-color: #888;
  }
  
  